# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
dist/
build/
.next/
out/
.cache/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
__MACOSX/

# Other
.env
.env.local
*.min.js
*.min.css
